# Logs
logs
*.log

# Results Files #
results/

# Runtime data
pids
*.pid
*.seed

#OS Files
.ds_store

# Coverage #
coverage/
.coveralls.yml
.nyc_output

# Compiled binary addons #
build/
typings/

# Node Modules #
node_modules

# Dist #
/dist

.idea
